Package: codi-app0.1
Source: codi-app
Version: 0.1
Architecture: arm64
Maintainer: Davide Guidi <davide@planetcom.co.uk>
Installed-Size: 9
Pre-Depends: dpkg (>= 1.16.1), python3.7
Depends: python3, python3-pydbus, python3-serial, python3-evdev, xdotool
Section: base
Priority: required
Description: Linux support for Cosmo Communicator CoDi
 This package provide limited Cover Display functionality for Linux
